@import "webstatic:/static/global.less";

@unknown: rgb(221, 221, 221);
@covered: #14892c;   // ADG green
@uncovered: #d04437; // ADG red
@partial: #f6c342;   // ADG yellow

@coverageSize: 3px;

.border(@color) {
    border-left: @coverageSize solid @color;
    border-top: 1px solid @color;
}

// Temporarily push out the code while we're loading.
.unified-diff, .side-by-side-diff-editor-to {
    .CodeMirror {
        .line-number-marker {
            padding-right: @coverageSize;
        }
    }
}

// When the coverage gutter is ready, remove the extra margin
.bitbucket-coverage-ready {
    .CodeMirror-gutter.line-coverage {
        width: @coverageSize;
    }

    .CodeMirror {
        .line-number-marker {
            padding-right: 0;
        }
    }
}

.coverage-graph {
    background-color: @uncovered;
    width: 100%;
    margin: @coverageSize 0 0;
    height: @coverageSize * 2;
    display: block;

    span {
        display: block;
        height: @coverageSize * 2;
        float: left;
    }

    .covered {
        background-color: @covered;
    }

    .partially-covered {
        background-color: @partial;
    }
}

// Avoid weirdness when the lines animate during line-focus
// Specifically avoid the border-top from animating on this gutter marker.
.diff-view.animated .line-focused.line .bitbucket-gutter-marker.bitbucket-coverage:not(.placeholder) {
    -webkit-animation: none;
    animation: none;
}

// This select is this specific to avoid the border-top from changing when a line has focus.
.diff-view .line.modified .bitbucket-gutter-marker.bitbucket-coverage {
    width: 0;

    &.placeholder {
        width: @coverageSize;
    }

    &.covered {
        .border(@covered);
    }

    &.uncovered {
        .border(@uncovered);
    }

    &.unknown {
        .border(@unknown);
    }

    &.partial {
        .border(@partial);
    }
}

.diff-coverage-info {
    // styles before the button is switched out to a div
    &.aui-button,
    &.aui-button:hover,
    &.aui-button:focus,
    &.aui-button:active,
    &.aui-button.active {
        background: transparent;
        box-shadow: none;
    }

    &.has-coverage {
        position: relative;
        top: -@coverageSize;
    }

    span {
        display: block;
    }

    .coverage {
        font-size: @font-size-small;
        color: @secondaryTextColor;
        text-align: center;
        line-height: 1;
    }

    .coverage-graph {
        width: 32px;
    }

}

#inline-dialog-coverageInfoDialog {
    width: 400px;

    h4:not(:first-child) {
        border-top: 1px solid @dividerColor;
        padding-top: @doubleSpacing;
    }

    .coverage-discovery {
        .clearfix();
    }

    .aui-button-primary {
        margin-top: @doubleSpacing;
        float: right;
    }

    // @aui-override
    .auth-links .aui-button-link {
        padding: 0;
        float: right;
        height: auto;
    }
}
